@import url("cabecalho.css");
@import url("formuario.css");
@import url("lista.css");

:root {
  --fundo: #17171a;
}

body {
  background-color: var(--fundo);
  font-family: "inter", sans-serif;
  font-size: 16px;
  color: white;
}




.botao__limpar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
}
.limpar {
  background-color: #7450ac;
  color: white;
  border: none;
  border-radius: 1em;
  padding: 1em;
  width: 35%;
}

.lista-compras.checked {
  text-decoration: line-through;
  opacity: 0.6;
}

.checkbox {
  cursor: pointer;
  margin-right: 10px;
}

.salvar {
  padding: 1em;
  width: 35%;
}
.rodape { 
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.rodape__texto {
  font-size: 12px;
  text-align: center;
  margin-right: 3em;
  padding: 4px;
}

